.reg-ipra {
  &__note {
    margin: 0;
    font-family: var(--font-sans);
    font-size: var(--body-font-size);
    font-weight: var(--body-weight-default);
    line-height: var(--body-line-height);
    color: var(--text-secondary);
  }
}
